<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buttercups Books</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  {{#if currentUser}}
    <a href="/logout" class="userWelcome">Hello {{currentUser.name}}</a>
  {{else}}
    <a href="/login" class="userWelcome">login</a>
  {{/if}}
  <div class="container">
    <header>
      <a href="/">
      <img src="/images/buttercup.jpeg" class="buttercupImage"/>
      </a>
      <h1 class="title">Buttercups Books</h1>
    </header>

    {{{body}}}
  </div>
</body>

</html>