<form class="donateForm" action="./donate" method="POST">
  <input class="formField" name="title" type="text" placeholder="Title">
  <input class="formField" name="author" type="text" placeholder="Author">
  <input class="formField" name="pubDate" type="text" placeholder="Publication Date">
  <input type="submit" style="height: 0px; width: 0px; border: none; padding: 0px;" hidefocus="true">

</form>