* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0.5rem;
}

.userWelcome {
  position: absolute;
  margin: 1rem;
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
  border: 1px solid #eaeaea;
  transition: color 0.25s ease, border-color 0.25s ease;
}

.userWelcome:hover,
.userWelcome:focus,
.userWelcome:active {
  color: #0073f3;
  border-color: #0070f3;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.buttercupImage {
  margin: 0;
  width: 8rem;
  height: 8rem;
  border-radius: 9999px;
  border: 3px solid #000;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .loginForm {

} */

input {
  font-family: inherit;
  font-size: inherit;
}

.loginName {
  /* font-size: 1.25rem; */
  padding: 10px;
  border: 0;
  border-bottom: 2px solid #eee;
}

.formField {
  display: block;
  padding: 10px;
  padding-top: 20px;
  border: 0;
  border-bottom: 2px solid #eee;
}

input:focus {
  outline: none;
}

.bookGrid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 800px;
}

.bookCard {
  position: relative;
  border: 1px solid #eaeaea;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  flex-basis: 45%;
  min-height: 350px;
  border-radius: 10px;
}

.bookCard h3 {
  margin: 0;
  font-size: 1.5rem;
}

.byline {
  font-size: 1rem;
  font-style: oblique;
  font-weight: 100;
}

@media (max-width: 600px) {
  .bookGrid {
    width: 100%;
    flex-direction: column;
  }

  .bookCard {
    flex-basis: 100%;
    width: 400px;
  }
}

.cardFooter {
  position: absolute;
  bottom: 0px;
}